<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Admin page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h2>Admin</h2>
		<div>	
			<a href="/questionare/add">Uusi kysely pohja</a>
			<p><a href="/questionares" th:text="Kyselyt"></a></p>
			<p>Aktiiviset Kyselyt --></p>
			<p>Ei aktiiviset kyselyt --></p>
			<form th:action="@{logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
	</body>
</html>