<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Admin page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h2>Admin</h2>
	<div>
		<a href="/quizzes" th:text="Kyselyt"></a>
		<p>Filter Aktiiviset Kyselyt</p>
		<p>Poista kysely</p>
		<p>Poista kyselyn vastaukset</p>
		<p>Uusi kysely pohja</p>
		<form th:action="@{logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
</body>

</html>