<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Admin page</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<!-- th:action="@{logout}" -->
			<form method="post">
				<input type="submit" value="Sign out" />
			</form>
		</div>
		<h2>Admin</h2>
		<div>
            <p>Kyselyt</p><p>Filter Aktiiviset Kyselyt</p>
                <p>Poista kysely</p>
                <p>Poista kyselyn vastaukset</p>
            <p>Uusi kysely pohja</p>
		</div>
	</body>
</html>