<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<title>Vastaukset</title>
	</head>
	<body>
		<div>
			<table>
				<thead>
					<tr>
						<th>Vastaus</th>
						<th>vastauksen tyyppi</th>
						<th>Kysymyksen id</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "answer : ${question.answers}">
						<td th:text ="${answer.name}"></td>
						<td th:text="${answer.type.name}"></td>
						<td th:text="${question.id}"></td>
					</tr>
				</tbody>
			</table>
			<a href="/admin" th:text="Takaisin"></a>
		</div>
	</body>
</html>