<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<title>Vastaukset</title>
	</head>
	<body>
		<div>
			<table>
				<thead>
					<tr>
						<th>Vastaukset</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                        <td>Vastaus 1</td>
                        <td>[Delete]</td>
                    </tr>
					<tr>
                        <td>Vastaus 2</td>
                        <td>[Delete]</td>
                    </tr>
				</tbody>
			</table>
			<a href="/admin" th:text="Takaisin"></a>
		</div>
	</body>
</html>