<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Luo uusi kysely</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h2>Luo kysely</h2>
		<div>
			<form th:object="${questionare}" th:action="@{/questionare/add}" method="post" class="form">
			  	<label>Kyselyn nimi</label>
				<input type="text" id="name" th:field="*{name}" required />
				<label>Aktiivisuus status</label>
				<input type="text" id="status" th:field="*{status}" required />
				<input type="submit" value="Save"></input>
			</form>
            <a href="/admin" th:text="Takaisin"></a>
		</div>
	</body>
</html>