<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Luo uusi kysely</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h2>Luo kysely</h2>
		<div>
			<form method="post">
			  	<label>Kyselyn nimi</label>
				<input type="text" required />
				<label for="kysymys">Kysymys</label>
                <input type="text" required />
                <label for="vastaus">Vastaus tyyppi</label>
			 	<select class="form-control">
       				<option>Avoin kysymys</option>
                    <option>Monivalinta</option>
                    <option>Monivalinta monella valittavalla valinnalla</option>
    			</select>
                <label for="vastaus">Vastaus arvo</label>
                <input type="text" required />
				<input type="submit" value="Save"></input>
			</form>
            <a href="/admin" th:text="Takaisin"></a>
		</div>
	</body>
</html>