<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<title>Kyselyt</title>
	</head>
	<body>
		<div>
			<h2>Kyselyt</h2>
            <p>Filter</p>
			<table>
				<thead>
					<tr>
						<th>Nimi</th>
						<th>Status</th>
						<th>Kysymykset</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "questionare : ${questionares}">
						<td th:text ="${questionare.name}"></td>
						<div th:unless="${questionare.status} == 0"><td>Aktiivinen</td></div>
						<div th:if="${questionare.status} == 0"><td>Ei aktiivinen</td></div>
						<td><a th:href="@{/questionare/{id}/questions(id=${questionare.id})}" th:text="Kysymykset"></a></td>
						<td><a th:href="@{/questionare/{id}/edit(id=${questionare.id})}"></a></td>
						<td><a th:href="@{/questionare/{id}/delete(id=${questionare.id})}"></a><td>
					</tr>
				</tbody>
			</table>
			<a href="/admin" th:text="Takaisin"></a>
		</div>
	</body>
</html>