<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<title>Kysymykset [[${questionare.name}]]</title>
	</head>
	<body>
		<div>
			<h2>Kysymykset kyselyyn [[${questionare.name}]]</h2>
			<table>
				<thead>
					<tr>
						<th>Kysymyksen nimi</th>
						<th>Tyyppi</th>
						<th>Kysely ID</th>
						<th>Vastaukset</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "question : ${questionare.questions}">
						<td th:text ="${question.name}"></td>
						<td th:text="${question.type.name}"></td>
						<td th:text="${question.questionare.id}"></td>
						<td><a th:href="@{/question/{id}/answers(id=${question.id})}" th:text="Vastaukset"></a></td>
						<td><a th:href="@{/question/{id}/delete(id=${question.id})}">Delete</a><td>
					</tr>
				</tbody>
			</table>
			<a href="/questionares" th:text="Takaisin"></a>
		</div>
	</body>
</html>