<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<title>Kyselyt</title>
	</head>
	<body>
		<div>
            <p>Filter</p>
			<table>
				<thead>
					<tr>
						<th>Kyselyt</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                        <td>Kysely 1</td>
                        <td><a href="/answers" th:text="Vastaukset"></a></td>
                        <td>[Delete]</td>
                    </tr>
					<tr>
                        <td>Kysely 2</td>
                        <td><a href="/answers" th:text="Vastaukset"></a></td>
                        <td>[Delete]</td>
                    </tr>
				</tbody>
			</table>
			<a href="/admin" th:text="Takaisin"></a>
		</div>
	</body>
</html>